[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==3.0.0"
sqlalchemy = "2.0.29"
pymysql = "*"

[dev-packages]
black = "==24.1a1"

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = true
